<!DOCTYPE html>
<meta charset="UTF-8">
<title>niby-strims.pl - Główna</title>
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="css/style.css">

<header>
    <a href="/" class="logo" title="Musisz tylko mocno w nie uwierzyć!">[tu jest logo]
    </a><a href="#" class="channel-name">wszystkie
    </a><a href="#" {% if place == 'hot' %}class="selected"{% endif %}>Ważne
    </a><a href="#" {% if place == 'trending' %}class="selected"{% endif %}>Wschodzące
    </a><a href="#" {% if place == 'fresh' %}class="selected"{% endif %}>Najnowsze</a>
</header>

<main>
    {% block body %}{% endblock %}
</main>
