<!DOCTYPE html>
<meta charset="UTF-8">
<title>niby-strims.pl - Główna</title>
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="css/style.css">

<header>
    <a href="#" class="logo" title="Musisz tylko mocno w nie uwierzyć!">[tu jest logo]
    </a><a href="#" class="channel-name">wszystkie
    </a><a href="#" class="selected">Ważne
    </a><a href="#">Wschodzące
    </a><a href="#">Najnowsze</a>
</header>

<main>
    <ul class="entries">
        <li>
            <div class="thumbnail-container">
                <div class="helper">
                    <a href="http://www.pajacyk.pl/"><img src="images/pajacyk.jpg" width="64"></a>
                </div>
            </div>
            <div class="details">
                <a href="http://www.pajacyk.pl/" class="title">Kliknij pajacyka!</a>
                <a href="#" class="channel-name">(random)</a><br>
                
            </div>
            <a href="#" class="ok">OK</a>
        </li>
    </ul>
</main>
